@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
html{
  font-family: M PLUS Rounded 1c;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'M PLUS Rounded 1c', sans-serif;
}
